
#homePage{
  background-color: #F5F5F5;

  padding-bottom: 50px;
  border-radius: 10px;
  margin-bottom:20px;
  width: 925px;
  // //display: flex;
  // justify-content: space-around;
  // align-items: center;
  // //
  // margin-top: 20px;
  // border: none !important;
  box-shadow: 3px 3px 3px #E4E4E4;

}


input::-webkit-calendar-picker-indicator{
    display: none;
}

.container{
  margin-right: auto;
  margin-left: auto;
  h3,h4{
    text-align:center;
  }
}


.panel {
    margin-top: 20px;
    border: none !important;

}

.show{
  font-size:18px;
  height: 100vh;
}

#cap{
    text-transform:capitalize;
 }
