
#homePage{
  background-color: #EEEEEE;
  padding-bottom: 50px;
  border-radius: 10px;
  margin-botton:20px;
  width: 800px;
  // //display: flex;
  // justify-content: space-around;
  // align-items: center;
  // //height: 100vh;
  // margin-top: 20px;
  // border: none !important;
  // box-shadow: 1px 1px 3px #E4E4E4;

}


input::-webkit-calendar-picker-indicator{
    display: none;
}
